# Project: Investigate a Dataset (Soccer database)

## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#wrangling">Data Wrangling</a></li>
<li><a href="#eda">Exploratory Data Analysis</a></li>
<li><a href="#conclusions">Conclusions</a></li>
</ul>

<a id='intro'></a>
## Introduction

>In this project I'm going to explore the dataset soccer database. This database is a relational database that holds data about teams, teams attributes as well as matches theses teams played over seasons in tables.

>### Posed Questions:
>We are going to find out what teams improved the most and what team attributes lead to the most vectories.

In [77]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import matplotlib.pyplot as plt
%matplotlib inline

<a id='wrangling'></a>
## Data Wrangling

### General Properties

In [2]:
# Load your data and print out a few lines. Perform operations to inspect data
#   types and look for instances of missing or possibly errant data.
database_engine = create_engine("sqlite:///C:\\Users\\Mohammed salama\\Music\\data analysis project\\archive\\database.sqlite")
teams = pd.read_sql("SELECT * FROM Team" , database_engine)
teams.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                299 non-null    int64
 1   team_api_id       299 non-null    int64
 2   team_fifa_api_id  288 non-null    float64
 3   team_long_name    299 non-null    object
 4   team_short_name   299 non-null    object
dtypes: float64(1), int64(2), object(2)
memory usage: 11.8+ KB

In [3]:
teams_attributes = pd.read_sql("SELECT * FROM Team_Attributes" , database_engine)
teams_attributes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1458 entries, 0 to 1457
Data columns (total 25 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              1458 non-null   int64
 1   team_fifa_api_id                1458 non-null   int64
 2   team_api_id                     1458 non-null   int64
 3   date                            1458 non-null   object
 4   buildUpPlaySpeed                1458 non-null   int64
 5   buildUpPlaySpeedClass           1458 non-null   object
 6   buildUpPlayDribbling            489 non-null    float64
 7   buildUpPlayDribblingClass       1458 non-null   object
 8   buildUpPlayPassing              1458 non-null   int64
 9   buildUpPlayPassingClass         1458 non-null   object
 10  buildUpPlayPositioningClass     1458 non-null   object
 11  chanceCreationPassing           1458 non-null   int64
 12  chanceCreationPassingClass      1458 non-null   object
 13  chanceCreationCrossing          1458 non-null   int64
 14  chanceCreationCrossingClass     1458 non-null   object
 15  chanceCreationShooting          1458 non-null   int64
 16  chanceCreationShootingClass     1458 non-null   object
 17  chanceCreationPositioningClass  1458 non-null   object
 18  defencePressure                 1458 non-null   int64
 19  defencePressureClass            1458 non-null   object
 20  defenceAggression               1458 non-null   int64
 21  defenceAggressionClass          1458 non-null   object
 22  defenceTeamWidth                1458 non-null   int64
 23  defenceTeamWidthClass           1458 non-null   object
 24  defenceDefenderLineClass        1458 non-null   object
dtypes: float64(1), int64(11), object(13)
memory usage: 284.9+ KB

In [58]:
matches = pd.read_sql("SELECT id , country_id , league_id , season , stage , date , home_team_api_id , away_team_api_id , home_team_goal , away_team_goal FROM Match" , database_engine)
matches.info(verbose= True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25979 entries, 0 to 25978
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                25979 non-null  int64
 1   country_id        25979 non-null  int64
 2   league_id         25979 non-null  int64
 3   season            25979 non-null  object
 4   stage             25979 non-null  int64
 5   date              25979 non-null  object
 6   home_team_api_id  25979 non-null  int64
 7   away_team_api_id  25979 non-null  int64
 8   home_team_goal    25979 non-null  int64
 9   away_team_goal    25979 non-null  int64
dtypes: int64(8), object(2)
memory usage: 2.0+ MB

### Data Cleaning (Replace this with more specific notes!)

In [39]:
# After discussing the structure of the data and any problems that need to be
#   cleaned, perform those cleaning steps in the second part of this section.
mean = teams_attributes['buildUpPlayDribbling'].mean()
teams_attributes['buildUpPlayDribbling'].fillna(mean , inplace = True)
teams_attributes['date'] = pd.to_datetime(teams_attributes['date'])

In [29]:
teams_attributes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1458 entries, 0 to 1457
Data columns (total 25 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              1458 non-null   int64
 1   team_fifa_api_id                1458 non-null   int64
 2   team_api_id                     1458 non-null   int64
 3   date                            1458 non-null   object
 4   buildUpPlaySpeed                1458 non-null   int64
 5   buildUpPlaySpeedClass           1458 non-null   object
 6   buildUpPlayDribbling            1458 non-null   float64
 7   buildUpPlayDribblingClass       1458 non-null   object
 8   buildUpPlayPassing              1458 non-null   int64
 9   buildUpPlayPassingClass         1458 non-null   object
 10  buildUpPlayPositioningClass     1458 non-null   object
 11  chanceCreationPassing           1458 non-null   int64
 12  chanceCreationPassingClass      1458 non-null   object
 13  chanceCreationCrossing          1458 non-null   int64
 14  chanceCreationCrossingClass     1458 non-null   object
 15  chanceCreationShooting          1458 non-null   int64
 16  chanceCreationShootingClass     1458 non-null   object
 17  chanceCreationPositioningClass  1458 non-null   object
 18  defencePressure                 1458 non-null   int64
 19  defencePressureClass            1458 non-null   object
 20  defenceAggression               1458 non-null   int64
 21  defenceAggressionClass          1458 non-null   object
 22  defenceTeamWidth                1458 non-null   int64
 23  defenceTeamWidthClass           1458 non-null   object
 24  defenceDefenderLineClass        1458 non-null   object
dtypes: float64(1), int64(11), object(13)
memory usage: 284.9+ KB

In [21]:
matches.drop_duplicates(inplace= True)
matches['date'] = pd.to_datetime(matches['date'])
matches.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25979 entries, 0 to 25978
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   country_id        25979 non-null  int64
 1   league_id         25979 non-null  int64
 2   season            25979 non-null  object
 3   stage             25979 non-null  int64
 4   date              25979 non-null  datetime64[ns]
 5   home_team_api_id  25979 non-null  int64
 6   away_team_api_id  25979 non-null  int64
 7   home_team_goal    25979 non-null  int64
 8   away_team_goal    25979 non-null  int64
dtypes: datetime64[ns](1), int64(7), object(1)
memory usage: 2.0+ MB

<a id='eda'></a>
## Exploratory Data Analysis

### Research Question 1 (what teams improved the most?)

In [59]:
# Use this, and more code cells, to explore your data. Don't forget to add
#   Markdown cells to document your observations and findings.
def match_result (match):
    if match.home_team_goal > match.away_team_goal:
        return match.home_team_api_id
    elif match.home_team_goal < match.away_team_goal:
        return match.away_team_api_id
    else :
        return None
matches['vectorious_team'] = matches.apply(match_result, axis = 1)#.convert_dtypes(convert_integer= True)
matches.head()

,id,country_id,league_id,season,stage,date,home_team_api_id,away_team_api_id,home_team_goal,away_team_goal,vectorious_team
0,1,1,1,2008/2009,1,2008-08-17 00:00:00,9987,9993,1,1,NaN
1,2,1,1,2008/2009,1,2008-08-16 00:00:00,10000,9994,0,0,NaN
2,3,1,1,2008/2009,1,2008-08-16 00:00:00,9984,8635,0,3,8635.0
3,4,1,1,2008/2009,1,2008-08-17 00:00:00,9991,9998,5,0,9991.0
4,5,1,1,2008/2009,1,2008-08-16 00:00:00,7947,9985,1,3,9985.0

In [92]:
join_teams_matches = teams.merge(matches, left_on= ['team_api_id'], right_on= ['vectorious_team'])
teams_num_of_vectories = join_teams_matches.groupby(['team_api_id' , 'team_long_name'])['id_x'].count().sort_values(ascending = False)

In [93]:
teams_num_of_vectories.info()

AttributeError: 'Series' object has no attribute 'info'

### Research Question 2  (What team attributes that lead to the most vectories?)

In [86]:
# Continue to explore the data to address your additional research
#   questions. Add more headers as needed if you have more questions to
#   investigate.
dataframe = teams_num_of_vectories.merge(teams_attributes[], left_on= ['team_api_id'], right_on= ['team_api_id'])

In [87]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1458 entries, 0 to 1457
Data columns (total 26 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   team_api_id                     1458 non-null   int64
 1   id_x                            1458 non-null   int64
 2   id                              1458 non-null   int64
 3   team_fifa_api_id                1458 non-null   int64
 4   date                            1458 non-null   datetime64[ns]
 5   buildUpPlaySpeed                1458 non-null   int64
 6   buildUpPlaySpeedClass           1458 non-null   object
 7   buildUpPlayDribbling            1458 non-null   float64
 8   buildUpPlayDribblingClass       1458 non-null   object
 9   buildUpPlayPassing              1458 non-null   int64
 10  buildUpPlayPassingClass         1458 non-null   object
 11  buildUpPlayPositioningClass     1458 non-null   object
 12  chanceCreationPassing           1458 non-null   int64
 13  chanceCreationPassingClass      1458 non-null   object
 14  chanceCreationCrossing          1458 non-null   int64
 15  chanceCreationCrossingClass     1458 non-null   object
 16  chanceCreationShooting          1458 non-null   int64
 17  chanceCreationShootingClass     1458 non-null   object
 18  chanceCreationPositioningClass  1458 non-null   object
 19  defencePressure                 1458 non-null   int64
 20  defencePressureClass            1458 non-null   object
 21  defenceAggression               1458 non-null   int64
 22  defenceAggressionClass          1458 non-null   object
 23  defenceTeamWidth                1458 non-null   int64
 24  defenceTeamWidthClass           1458 non-null   object
 25  defenceDefenderLineClass        1458 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(12), object(12)
memory usage: 307.5+ KB

In [ ]:
dataframe.plot(kind= 'scatter', x= '')

<a id='conclusions'></a>
## Conclusions